<div id="DyonicaCarousel" class="container-wrapper container-top container-wrapper-home carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#DyonicaCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#DyonicaCarousel" data-slide-to="1" class=""></li>
    <li data-target="#DyonicaCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active"><div class="container">
        <div class="carousel-caption">
          <ul class="unstyled center list-circle-icons">
            <li class=""><span class="fa fa-linux"></span></li>
            <li class="red"><span class="fa fa-road"></span></li>
            <li class="green"><span class="fa fa-mobile"></span></li>
            <li class="purple"><span class="fa fa-desktop"></span></li>
            <li class="yellow"><span class="fa fa-laptop"></span></li>
          </ul>
          <h1>Fibonacci Anyons Gate </h1>
          <p>




          quasiparticles that are non-abelian anyons and
then perform the requisite braiding operations to carry out
topological quantum computation.</p>
          <p><a class="btn btn-lg btn-primary" href="features.html" role="button">Learn More</a></p>
        </div><!-- end carousel-caption -->
      </div><!-- end container -->
    </div><!-- end item -->
    <div class="item"><div class="container">
        <div class="carousel-caption">
          <ul class="unstyled center list-circle-icons">
            <li class=""><span class="fa fa-linux"></span></li>
            <li class="red"><span class="fa fa-html5"></span></li>
            <li class="green"><span class="fa fa-css3"></span></li>
            <li class="purple"><span class="fa fa-android"></span></li>
          </ul>
          <h1>Quantum Hall State</h1>
          <p>A non-abelian quantum Hall state is currently the most
promising route to topological quantum computation and
perhaps the most promising route of any kind to scalable,
fault-tolerant quantum computation. However, we should
also look elsewhere for a topological quantum computer,
even though that search requires reinventing the wheel th</p>
          <p><a class="btn btn-lg btn-primary" href="features.html" role="button">Learn More</a></p>
        </div><!-- end carousel-caption -->
      </div><!-- end container -->
    </div><!-- end item -->
    <div class="item"><div class="container">
        <div class="carousel-caption">
          <ul class="unstyled center list-circle-icons">
            <li class=""><span class="fa fa-tablet"></span></li>
            <li class="red"><span class="fa fa-life-ring"></span></li>
            <li class="green"><span class="fa fa-user"></span></li>
            <li class="purple"><span class="fa fa-cloud"></span></li>
          </ul>
          <h1>Topologically protected qubits.</h1>
          <p>Dyonica-101010 is suitable Benign error scaling: error rates that do not increase as the computer
gets larger, and no large-scale correlated errors.</p>
          <p><a class="btn btn-lg btn-primary" href="features.html" role="button">Learn More</a></p>
        </div><!-- end carousel-caption -->
      </div><!-- end container -->
    </div><!-- end item -->
  </div><!-- end carousel-inner -->
  <a class="left carousel-control" href="#DyonicaCarousel" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
  <a class="right carousel-control" href="#DyonicaCarousel" data-slide="next"><span class="fa fa-chevron-right"></span></a>
</div><!-- end carousel -->

