<div class="container-wrapper">
  <div class="container">
    <div class="row margin-bottom-20">
      <div class="col-md-12 center">
        <h2>Features</h2>
      </div><!-- end col -->
    </div><!-- end row -->
    <div class="row">
      <div class="col-md-4 center">
        <span class="fa fa-database fa-5x blue"></span>
        <h3 class="margin-top-10">Anyonic Quantum Computers</h3>
        <p>Our implementaion of the Shor's uses the braiding od quasipartices.</p>
        <p><a href="elements.html" class="btn btn-lg btn-purple">Learn More</a></p>
      </div><!-- end col -->
      <div class="col-md-4 center">
        <span class="fa fa-sliders fa-5x"></span>
        <h3 class="margin-top-10">Ising Quantum Computer</h3>
        <p>A model of non-Abelian anyons consists of the following three elemen
ts [11]: a list of
particle types, the fusion rules, and the braiding rules. In the form
alism of
SU
(2)
k
Chern-
Simons theory, anyons are quasi-particles having half-integer
q
-spins (spins for short)
s
=
0
,
1
/
2
,
1
,
, k/
2 as their quantum numbers.</p>
        <p><a href="features.html" class="btn btn-lg btn-primary">Take Tour</a></p>
      </div><!-- end col -->
      <div class="col-md-4 center">
        <span class="fa fa-rocket fa-5x red"></span>
        <h3 class="margin-top-10">Toric Code</h3>
        <p>Entanglement entropy exactly for the
toric code at finite temperatures, in a regime where there is
a broad separation of energy scales between the two cou-
plings in the problem,
λ
A
≪
λ
B
. </p>
        <p><a href="#" class="btn btn-lg btn-success">Buy Now</a></p>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end container-wrapper -->