<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="unstyled center list-circle-icons list-circle-icons-small">
          <li><a href="#none" title="Like us on Facebook" data-rel="tooltip" data-toggle="tooltip"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#none" title="Follow us on Twitter" data-rel="tooltip" data-toggle="tooltip"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#none" title="Follow us on Pinterest" data-rel="tooltip" data-toggle="tooltip"><span class="fa fa-pinterest"></span></a></li>
          <li><a href="#none" title="Follow us on Google Plus" data-rel="tooltip" data-toggle="tooltip"><span class="fa fa-google-plus"></span></a></li>
          <li><a href="#none" title="View Flickr Gallery" data-rel="tooltip" data-toggle="tooltip"><span class="fa fa-flickr"></span></a></li>
        </ul>
        <ul class="list-inline">
          <li><a href="index.html">Home</a></li>
          <li><a href="features.html">Features</a></li>
          <li><a href="portfolio-parent.html">Portfolio</a></li>
          <li><a href="blog-parent.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="user-signup.html">Sign Up</a></li>
          <li><a href="user-login.html">Login</a></li>
        </ul>
        <p>&copy;2014. Dyonica. ALL RIGHTS RESERVED</p>

      </div><!-- end col -->
    </div><!-- end row fluid -->
  </div><!-- end container -->
</footer>