






















<div class="navbar navbar-inverse navbar-fixed-top" id="navbar-Qbits">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a href="#none" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars"></span>
            <span class="btn-navbar-text">Menu</span>
          </a>
          <a class="brand" href="./index.html"><span class="logo"></span>Dyonica</a>
          <div class="navbar-collapse collapse">
            <div class="nav-menu pull-left">
              <ul class="nav nav-pills">
                <li><a href="features.html">Features</a></li>
                <li><a href="portfolio-parent.html">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li>
                  <a href="#">About</a>
                </li>
              </ul>
            </div><!-- end nav-menu -->
            <div class="navbar-collapse collapse">
            <div class="nav-user pull-right">
              <ul class="nav nav-user-options">
                <li class="signup"><a href="user-signup.html" class="btn btn-pink">Sign Up</a></li>
                <li class="login"><a href="user-login.html" class="btn fus-btn-white" >Login</a></li>
              </ul>
            </div><!-- end nav-user -->
            </div>
          </div><!-- end navbar-collapse -->
        </div><!-- end col-md-12 -->
      </div><!-- end row fluid -->
    </div><!-- end container -->
  </div><!-- end navbar-inner -->
</div><!-- end navbar -->

