<div class="container">
  <div class="row margin-bottom-20">
    <div class="col-md-12 center">
      <h2>Our services</h2>
    </div><!-- end col -->
  </div><!-- end row -->
  <div class="row row-tiles">
    <div class="col-md-3">
      <div class="tile tile-alt">
        <a href="#none" class="tile-photo" style="background-image:image-url('code.png');background-position:center center;"></a><div class="tile-details">
        <h3>Tile With Photo</h3>
        <p>Nonumes habemus pri no, mucius aliquando eu sea. Te eum omnes ase urience.</p>
        <p><a href="#none" class="btn btn-info">Read More</a></p>
      </div><!-- end tile details -->
      </div><!-- end tile -->
    </div><!-- end col -->
    <div class="col-md-3">
      <div class="tile tile-alt">
        <a href="#none" class="tile-photo" style="background-image:asset-url('toyota.png');background-position:center;"></a><div class="tile-details">
        <h3>Tile With Photo</h3>
        <p>Nonumes habemus pri no, mucius aliquando eu sea. Te eum omnes ase urience.</p>
        <p><a href="#none" class="btn btn-info">Read More</a></p>
      </div><!-- end tile details -->
      </div><!-- end tile -->
    </div><!-- end col -->
    <div class="col-md-3">
      <div class="tile tile-alt">
      link_to background-image:image_tag("Toyota.png", width: '90', height: '56',
        alt: 'Code'), background-position:center center, class:"tile-photo" 
        <a href="#none" class="tile-photo" style="background-image:<%=image_url("code.png")%>;background-position:center center;"></a>
        <div class="tile-details">
          <h3>Tile With Photo</h3>
          <p>Nonumes habemus pri no, mucius aliquando eu sea. Te eum omnes ase urience.</p>
          <p><a href="#none" class="btn btn-info">Read More</a></p>
        </div><!-- end tile details -->
      </div><!-- end tile -->
    </div><!-- end col -->
    <div class="col-md-3">
      <div class="tile tile-alt">
        <a href="#none" class="tile-photo" style="background-image:url( img/sample/portfolio-3.jpg);background-position:center center;"></a><div class="tile-details">
        <h3>Tile With Photo</h3>
        <p>Nonumes habemus pri no, mucius aliquando eu sea. Te eum omnes ase urience.</p>
        <p><a href="#none" class="btn btn-info">Read More</a></p>
      </div><!-- end tile details -->
      </div><!-- end tile -->
    </div><!-- end col -->
  </div><!-- end row -->
</div><!-- end container -->
