
<%= render 'nav_for_welcome' %>

<div class="clear"></div>

<%= render 'carousel_for_welcome' %><div class="clear"></div>

<%= render 'features' %>



</div><!-- end container -->

<div class="clear"></div>

<div class="container-wrapper container-wrapper-sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="header">The Latest from the Dyonicblog</h4>
        <article class="post">
          <div class="post-thumb pull-left">
            <ol class="list-gallery list-gallery-small">
              <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/b/bherila/09/l/1379027189fnf69.jpg);"></a></li>
            </ol>
          </div><!-- end post-thumb -->
          <div class="post-details pull-left">
            <h3><a href="blog-post.html">Framing anomaly</a></h3>
            <p>2
lines merge into a first-order line that partially separates
the charge and vortex condensates, and suggested the
2nd-order lines might become 1st-order before merging.
As discussed below, our data for larger systems (up to
60
3
sites) do not confirm this conjecture. Thus, the
point where all three lines meet is likely to be a novel
type of multicritical point. Note that each of the 2nd-
order transitions can be characterized by an Ising-type
order parameter, i.e., the amplitude of the corresponding
condensate. The two parameters must somehow coexist
though they are incompatible at the classical level due
to the nontrivial braiding between charges and vortices.
(ie., the kinetic terms describing the charge and vortex
transport do not commute.)
The reduction to a classical problem.
The Hamilto-
nian (2) is not gauge-invariant, but it can be mapped to a
Z
2
gauge theory by introducing a dummy spin variable
μ
s
(“matter field”) at every site, but only considering states
|
Ψ
i
such that
μ
x
s
|
Ψ
i
=
|
Ψ
i
. This constraint is a proto-
type of the gauge-invariance condition,
μ
x
s
A
s
|
Ψ
i
=
|
Ψ
i
,
which says that flipping the spin on a site and all incident
bonds does not change the state. To turn one constraint
into the other, we apply the transformation:
σ
z
uv
→
μ
z
u
σ
z
uv
μ
z
v
, σ
x
uv
→
σ
x
uv
,.</p>
            <p><a href="blog-post.html" class="btn btn-purple">Read more</a></p>
          </div><!-- end post-details -->
        </article><!-- end post -->
      </div><!-- end col -->
      <div class="col-md-4">
        <h4 class="header">Twitter</h4>
        <ol class="list-tweets">
          <li>
            <p> Exotic metallic surface states in topological
insulators...<a href="http://www.pma.caltech.edu/~physlab/ph10_references/Birth%20of%20topological%20insulators.pdf"> Experiments on Bi1−xSbx, Bi2Se3, Bi2Te3, and Sb2Te3</a></p>
            <small><a href="#none">1 hour ago by Dawit</a></small>
          </li>
          <li>
            <p>Angle-resolved photoemission spectroscopy5, 6, 7 and scanning tunnelling microscopy...<a href="#none">engt.co/Z4CgK3</a></p>
            <small><a href="#none">3 hours ago by Mike </a></small>
          </li>
          <li>
            <p><a href="#none" class="btn btn-purple">Follow on Twitter</a></p>
          </li>
        </ol>
      </div><!-- end col -->
      <div class="col-md-4">
        <h4 class="header">Photo Gallery</h4>
        <ol class="list-gallery list-gallery-small">
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/b/bherila/09/l/1379027189fnf69.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2008_11_02/file0001385849126.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2010_07_03/file8281278162138.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2010_05_30/file2161275234390.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2008_11_02/file0001692203283.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/d/dorne/preview/fldr_2011_04_26/file5991303866125.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2008_11_02/file0001171268359.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/b/bherila/09/l/1379027189fnf69.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2008_11_02/file0001385849126.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2010_07_03/file8281278162138.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2010_05_30/file2161275234390.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2008_11_02/file0001692203283.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/d/dorne/preview/fldr_2011_04_26/file5991303866125.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/h/hotblack/preview/fldr_2008_11_02/file0001171268359.jpg);"></a></li>
          <li><a href="#none" style="background-image:url(http://cdn.morguefile.com/imageData/public/files/b/bherila/09/l/1379027189fnf69.jpg);"></a></li>
        </ol>
      </div><!-- end col -->
    </div><!-- end row -->
  </div> <!-- end container -->
</div> <!-- end sub-footer -->

<div class="clear"></div>

<%= render 'footer_html' %>


